* {
    font-family: Helvetica, Arial, serif;
}

h1 {
    font-family: Papyrus;
    margin: 5px;
}

h2 {
    font-family: "Lucida Handwriting";
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(201, 201, 201);
}

h3 {
    font-family: "Lucida Handwriting";
    border-bottom: 2px solid rgb(33, 33, 33);
    border-left: 1px solid rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(235, 235, 235);
}

.container {
    display: flex;
    align-items: flex-start;
}

.text-content {
    margin: 10px 30px 10px;
    flex: 1;
}

.image-content {
    margin: 30px;
    flex: 1;
}

.image-content img {
    width: 80%;
    height: auto;
    border-radius: 15px;
    max-width: 400px;
}

.container.top {
    text-align: center;
    display: block;
    width: 100%;
}

.home-link {
    background-color: rgb(81, 173, 81);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    border-radius: 10px;
}

#index-title {
    background-color: rgb(200, 200, 200);
    text-align: center;
    display: block;
    width: 50%;
    min-width: 200px;
}
